label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:
}
#check{
    display: none;
}
@media (max-width:860px){
    .animation-button{
        display: block;
    }
    .animation-button{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top:80px;
        left:100%;
        text-align: center;
    }
    label #btn{
        display: block;
    }

}